.Tag {
    display: block;
    box-sizing: border-box;
}

.Tag ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Tag li {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 5px;
}

.Tag a {
    display: block;
    color: #fff;
    background-color: #212631;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 2px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}