.Comment {
    display: flex;
    border-bottom: 1px solid #a7b3c6;;
    padding: 10px;
}

.Comment img {
    width: 100px;
    border-radius: 50px;
}

.Comment span {
    font-size: 13px;
    margin-right: 15px;
    color: #a7b3c6;
}

.Comment h4 {
    text-transform: capitalize;
}

.Content {
    padding-left: 20px;
}