.Category {
    display: block;

    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #3d455c;
}
.Category ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: start;
}

.Category li {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #eceef2;
    margin-left: 0;
    font-weight: 600;
    color: #212631;
    text-decoration: none;
    background-color: transparent;
}

.Category ul li > a {
    display: block;
    transition: 0.2s color;
}

.Category:hover,
.Category:active {
    background-color: #ff8700;
}

.Category  span {
    background-color: #4BB92F;
    float: right;
    color: #fff;
    padding: 0px 5px;
    font-weight: 600;
    border-radius: 2px;
}